.data-school-table-container{
    width: 95%;
    margin: 0 auto;
    min-height: 40px;
    border:2px solid yellow;
    margin-top: 10px;
    font: normal 30px arial, helvetica, sans-serif;
      
}
.space2{
   white-space:pre-wrap;
    word-spacing: 320px;
    text-align-last: justify;
    
}
.space3{
    white-space:pre-wrap;
     word-spacing: 10px;
     text-align:right;
     
 }
.red{
    color:red;
}
